.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--primary-color);
  background-color: var(--primary-bg);
  height: 100%;
  font-size: x-large;
}

.inputSection {
  display: flex;
  width: 300px;
}

.inputField {
  margin-left: auto;
}

.loginButton {
  background: var(--primary-shade);
  color: var(--primary-color);
  box-shadow: 1px 1px 10px black;
  border: none;
  border-radius: 10px;
  margin: 10px;
  min-width: 150px;
  min-height: 30px;
}

.form input {
  background: var(--primary-shade);
  height: 30px;
  border-radius: 10px;

  margin: 2px;
}

.form button {
  margin: 4px;
  background-color: var(--primary-shade);
  border-radius: 10px;
  height: 40px;
  width: 100px;
}
